@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Epilogue", sans-serif; */
/* font-family: "Archivo", sans-serif;*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    padding-right: 0 !important;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

/* HOME CONTENT */
.home-content {
    background-image: linear-gradient(rgba(114, 55, 55, 0.714), rgba(0, 0, 0, 0.75)), url('home.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
} 
.brgytext{
    font-family: 'Montserrat', sans-serif;
}
.brgytext p{
    font-family: 'Nunito', sans-serif;
}

/* REGISTRATION BUTTON */
.registration button{
    outline: none;
    border: none;
    /* transform: skew(-10deg); */
}
.registration button:hover{
    transform: translateY(-5px);
    /* transform: skew(-10deg); */
}


/* ********************* */
/* MISSION VISION */
.section .btn-group button{
    border: none;
    outline: none;
}

/* *********************** */
/* EVENTS */


/* custom scrollbar for the events images */
.gallery::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background-color: #DF826C;
    border-radius: 20px;
}
.gallery::-webkit-scrollbar-thumb{
    background-color: #BF3131;
    border-radius: 20px;
} 

/* MODAL FOR SIGN UP */
.modal{
    /* margin-top: 5rem; */
}


/* ************************************ */
/* MEDIA QUERY FOR HOME-CONTENT IMAGE */
@media (min-width: 320px){
    .home-content{
        height: 30vh; 
    }
    .registration button{
        font-size: 14px;
    }

    /* councils */
    .councilor{
        /* background-color: blue; */
        width: 100vw;
        /* margin: 0 1rem; */
    }
    .councilor .slider-wrapper{
        /* background-color: pink; */
        width: 70vw;
        margin: auto;
        overflow-x: hidden;
    }
    
    .card-item img{
        width: 100%;
        height: 30vh;
        border: 1px solid black;
    }
    
    /* meet our councils text style */
    #councilText{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        -webkit-text-stroke: 1px black;
        color: transparent;
    }

    /* mission and vision */
    .content{
        font-size: 14px;
        text-align: justify;
    }

    .holder{
        margin: 1rem;
    }
    /* events */
    .events{
        margin-bottom: 2rem;
        border: 1px solid #ccc;
    }
    .events-page .gallery{
        display: flex;
        overflow-x: scroll;
    }
    .events-page .image img {
        width: 45vw;
        height: 20vh;
        margin: 5px;
    }


    .text, .textAnnouncement{
        font-size: 14px;
        font-family: Poppins;
        color: white;
        width: fit-content;
    }

    /* ************************** */
    /* ANNOUNCEMENT */
    /* announcement */
    .accordion{
        height: 40vh;
        overflow: scroll;
    }
    .announcement .accordion-body{
        height: 50vh;
        overflow-y: scroll;
    }


}

@media (min-width: 425px){
    .home-content{
        height: 40vh; 
    }

    #councilText{
        font-size: 18px;
    }
    .content{
        font-size: 15px;
        text-align: justify;
    }
}

@media (min-width: 576px) {
    .home-content{
        height: 50vh; 
    }
    #councilText{
        font-size: 20px;
    }
    /* mission and vision font size */
    .content{
        font-size: 16px;
    }

    /* events */
    .events-page .image img {
        width: 40vw;
        height: 25vh;
        margin: 5px;
    }
    .councilor{
        /* background-color: green; */
        width: 90vw;
    }
}

@media (min-width: 768px){
    .home-content{
        height: 70vh; 
    }

    /* holder of events and announcement */
    .holder{
        /* background-color: orange; */
        /* width: 90vw; */
        /* margin: auto; */
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* events */
    .events{
        /* background-color: pink; */
        margin-bottom: 0px;
        /* background-color: #e9ecef; */
    }
    .events-page .gallery{
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 40vh;
        width: 40vw;
    }

    .events-page .image img {
        width: 100%;
        height: 30vh;
        margin: 5px;
    }
    .holder .announcement .accordion{
        width: 40vw;
    }

    /* mission and vision */
    .objectives{
        /* background-color: blue; */
        width: 90vw;
        margin: auto;
    }

    .obj{
        color: white;
        background-color: #8d0e0e;
        font-family: "Nunito", sans-serif;
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 15px;
        text-align: justify;
        font-size: 14px;
        /* box-shadow: 1px 1px rgb(75, 75, 75); */
    }
    .obj h2{
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
        font-size: 24px;
    }
    .councilor{
        /* background-color: green; */
        width: 85vw;
    }
}

@media (min-width: 992px){
    .home-content{
        height: 80vh; 
        display: grid;
        place-items: center;
    }
    
    .events-page .gallery{
        /* background-color: orange; */
        height: 40vh;
        width: 40vw;
    }

    .events-page .image img {
        width: 100%;
        height: 40vh;
        margin: 5px;
    }

    /* brgy text */
    .home-content .inside{
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }
    .inside h1{
        font-size: 36px;
        font-weight: bolder;
        letter-spacing: 1px;
        font-style: italic;
    }
    .inside p{
        font-size: 16px;
        font-family: "Archivo", sans-serif;
    }
    .objectives{
        /* background-color: blue; */
        width: 80vw;
        margin: auto;
    }
}

@media (min-width: 1024px){
    .home-content{
        height: 100vh; 
    }
    #councilText{
        font-size: 24px;
    }
    .councilor{
        /* background-color: green; */
        width: 80vw;
    }
}

@media (min-width: 1200px) {
    #councilText{
        font-size: 26px;
    }
    .inside h1{
        font-size: 40px;
    }
}

@media (min-width: 1400px) {
    
    #councilText{
        font-size: 28px;
    }
    .inside h1{
        font-size: 46px;
    }
    .inside p{
        font-size: 22px;
    }
}

@media (min-width: 1920px){
    .home-content .inside h1{
        font-size: 56px;
    }
}